.remove-button {
    font-size: 100%;
    border:  solid rgb(10, 10, 10);
    border-radius: 40% 40% 40% 40%;
    background: border-box rgba(70, 30, 250, .9);
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 20px;
  }


  .pane{
    background: oldlace;
    padding: 20px 30px 20px;
    border-top: solid 8px rgb(54, 48, 48);
    position: relative;
  }


  p{
    margin: 0px;
    padding: 0 0 .1em;
  }

  h3{
    color: rgb(21, 206, 138);
    font-style: italic;
    font-size: 1.1em;
  }

  body{
    margin: 10px auto;
    width: 690px;

  }